.paging{
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

  }

  &-item {
    padding: 10px 0;
    width: 100px;
    border: var(--hv-col-sail-blue) 1.5px solid;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;

    &.disabled{
      cursor: default;
      opacity:.5;

      &:hover{
        background-color:white;
        color: black;
      }
    }

      &:hover{
        background-color:var(--hv-col-sail-blue);
        color: white;
      }
  }
}
