.star-systems{

  &-container {
    display: flex;

    .options-container {
      display: flex;    
      flex-direction:column;
      border: solid 1px var( --hv-col-alto);
      border-radius: 5px;
      padding: 5px;
    }

    .filter-container {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      align-items: center;
    

      .num-input {
        margin-top:10px;
        width: 50px;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .search-container {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      align-items: center;
    
      .box-input {     
        min-width: 300px;
        padding: 5px;
        border-radius: 5px;
        margin-top:10px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .button-item {
    padding: 10px 0;
    width: 100px;
    border: var(--hv-col-sail-blue) 1.5px solid;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;

    &.to-fit{
      width: auto;
      padding: 10px;
    }

    &.top {
      margin-top:10px;
    }

    &.disabled{
      cursor: default;
      opacity:.5;

      &:hover{
        background-color:white;
        color: black;
      }
    }

      &:hover{
        background-color:var(--hv-col-sail-blue);
        color: white;
      }
  }
  }

   &-title {
        display: flex;
        justify-content:center;
        font-size: 20px;
        margin:10px 0;
    }

  &-list-container {
    flex-basis: 40%;
    padding: 0 10px;

    .page-number {
      margin: 20px 0;
    }
  }

  &-options-list-container {
    flex-basis: 20%;
    padding: 0 10px;

    .page-number {
      margin: 20px 0;
    }
  }

  &-detail-container {
    flex-basis: 50%;
  }
}
