    .tables {
        border: solid 1px var(--hv-col-alto);
        padding: 5px;
        border-radius: 5px;
        margin-bottom:20px;


.row {
            padding: 10px 0;
        display: flex; 

    &.new-title{
            font-weight: bold;

            ~.new-title {
            border-top: var(--hv-col-alto) 1px solid;
            padding-top:30px;
            }
        }
        
        .item {
            padding-left:20px;
            min-width: 100px;
        }

        &.spaced {
            justify-content: space-between;
        }
}



        .odds {


    &.row{
        padding: 10px 0;
        display: flex; 
        justify-content: space-between;

        &:first-child {
            color:black;
        }
    }


            &:nth-child(odd) {
                background: var(--hv-col-alice-blue);
            }

            .selected {
          border-top: blue 1px solid;
          border-bottom: blue 1px solid;
        }

        &:hover{
            border-top: var(--hv-col-sail-blue) 1px solid;
            border-bottom: var(--hv-col-sail-blue) 1px solid;
        }

        }

        
    
}
